.buttonOutline {
  border-radius: 10px;
  border: 2px solid white;
  color: white;
  padding: 9px 14px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  margin-right: 5px;
  cursor: pointer;
  font-weight: 500;
}

.buttonOutline:hover {
  background-color: white;
  color: black;
}
