@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --dark-blue: rgb(29, 48, 120);
  --dark-grey: rgb(37, 31, 29);
  --transparent-white: rgba(255, 255, 255, 0.441);
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Space Grotesk', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
