.bannerBg {
  background: linear-gradient(to top, white 5%, rgb(29, 48, 120) 40%, rgb(37, 31, 29) 70%);
  width: 100vw;
  height: 750px;
  position: relative;
}

.bannerContainer {
  height: 100%;
  display: flex !important;
  align-items: flex-start;
  padding-top: 80px;
  position: relative;
  z-index: 2;
}

.mainHeading {
  color: white;
  font-size: 5rem;
  width: 60%;
  z-index: 2;
}

.subHeading {
  color: white;
  font-weight: 500;
  z-index: 2;
}

/* ADDITIONAL ELEMENTS */

.verticalLine {
  border-left: 0.7px solid rgba(255, 255, 255, 0.441);
  height: 100%;
  position: absolute;
  left: 5%;
}

.horizontalLine {
  border-bottom: 0.7px solid rgba(255, 255, 255, 0.441);
  width: 100%;
  position: relative;
}

.circle {
  width: 200px;
  height: 200px;
  border: 0.7px solid rgba(255, 255, 255, 0.441);
  border-radius: 50%;
  position: absolute;
  right: 2%;
  transform: translateY(-50%);
}


/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
  .mainHeading {
    font-size: 3.7rem;
  }

  .verticalLine {
    left: 10%;
  }
}
