.bannerBg {
  background: linear-gradient(to top, white 5%, var(--dark-blue) 40%, var(--dark-grey) 70%);
  width: 100vw;
  height: 750px;
  position: relative;
}

.bannerContainer {
  height: 100%;
  display: flex !important;
  align-items: flex-start;
  padding-top: 80px;
  position: relative;
  z-index: 2;
}

.mainHeading {
  color: white;
  font-size: 5rem;
  width: 60%;
  z-index: 2;
}

.subHeading {
  color: white;
  font-weight: 500;
  z-index: 2;
}


/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
  .mainHeading {
    font-size: 3.7rem;
  }
}
